/*|---------------|App Color Schema|---------------*/
$GREEN: #48D0B0;
$RED: #FB6C6C;
$YELLOW: #FFDA55;
$BLACK: #000;
$WHITE: #FFF;
$GRAY: #282828;

//Types
$BUG: #729f3f;
$DARK: #707070;
$DRAGÃO: #53a4cf;
$ELETRIC: #eed535;
$FADA: #fdb9e9;
$LUTA: #d56723;
$FOGO: #fd7d24;
$FLYING: #3dc7ef;
$GHOST: #7b62a3;
$PLANTA: #9bcc50;
$GROUND: #f7de3f;
$ICE: #51c4e7;
$NORMAL: #a4acaf;
$POISON: #b97fc9;
$PSIQUICO: #f366b9;
$ROCK: #a38c21;
$STEEL: #9eb7b8;
$AGUA: #4592c4;



/*|---------------|BREAKPOINTS|---------------*/

// Usage example:  @media #{$BREAKPOINT-DESK}

$BREAKPOINT-DESK: "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (min-width: 480px)";

/*|---------------|MIXINS|---------------*/

@mixin margin-page {
  width: calc(100% - 40px);
  margin: 0 auto;

  @media #{$BREAKPOINT-DESK} {
    max-width: 1000px;
  }
}